$white: #fff;
$black: #000;
$black_1: #1A1824;
$grey_1: #F2F2F2;
$grey_2: #C6C6C6;
$grey_3: #999999;
$grey_4: #666666;
$grey_5:#979797;
$grey_6:#828282;
$grey_7:#c4c4c4;
$primary-blue:#3B6DCD;
$orange:#FF6B00;
$primary-green:#15C11C;